.QuadpayDesignSystems {
  @apply relative;
  @apply mt-16;
  @apply px-6;

  @apply md:px-0;
  @apply md:mx-auto;
  @screen md {
    width: 584px;
  }

  @apply lg:mt-20;
  @screen lg {
    width: 784px;
  }

  @apply xl:mt-24;
  @screen xl {
    width: 884px;
  }

  @apply 2xl:mt-36;
  @screen 2xl {
    width: 1176px;
  }
}

.QuadpayDesignSystems-content {
  @screen lg {
    width: 784px;
  }

  @screen 2xl {
    width: 977px;
  }
}

.QuadpayDesignSystems-img.mobile {
  max-width: 425px;
  @apply mx-auto;
}

.QuadpayDesignSystems-img {
  @apply mt-16;

  @apply lg:mt-20;

  @apply xl:mx-auto;
  @apply xl:mt-24;
  @screen xl {
    width: 1312px;
  }

  @apply 2xl:mt-30;
  @screen 2xl {
    width: 1574px;
  }
}
