.QuadpayChallengeSolution {
  @apply mt-16;
  @apply px-6;

  @apply md:px-0;

  @apply lg:mt-20;

  @apply xl:mt-24;

  @apply 2xl:mt-36;
}

.QuadpayChallengeSolution-summary {
  @apply relative;

  @apply md:flex;
  @apply md:items-center;
  @apply md:ml-auto;
  @apply md:pr-8;
  @screen md {
    width: 88%;
  }

  @apply lg:mx-auto;
  @apply lg:pr-0;
  @screen lg {
    width: 76%;
  }

  @screen xl {
    width: 61%;
    padding-left: 56px;
  }

  @screen 2xl {
    padding-left: 0;
    width: 1176px;
  }
}

.QuadpayChallengeSolution-metrics-img-mobile {
  @apply mt-2;
  @apply ml-4;
  @apply float-right;
  width: 112px;

  @apply md:hidden;
}

.QuadpayChallengeSolution-metrics-img-tablet {
  @apply hidden;

  @apply md:block;
  @apply md:flex-shrink-0;
  @apply md:ml-17;
  @screen md {
    width: 172px;
  }

  @apply lg:hidden;
}

.QuadpayChallengeSolution-metrics-img {
  @apply hidden;

  @apply lg:block;
  @apply lg:ml-13;
  @apply lg:flex-shrink-0;
  @screen lg {
    width: 188px;
  }

  @apply xl:ml-28;
}