.CaseStudyCarousel {
  .slider-frame {
    box-shadow: 0px 11px 15px rgba(108, 0, 201, 0.08);
  }
}

.CaseStudyCarousel-inner {
  @apply relative;
  @apply mx-auto;
  @apply px-6;

  @apply md:px-8;
  @screen md {
    max-width: 464px;
  }

  @apply lg:px-10;
  @screen lg {
    max-width: 784px;
  }

  @screen xl {
    max-width: 1032px;
  }
}

.CaseStudyCarousel-slide {
  @apply flex;
  @apply flex-col;
  @apply bg-white;
  height: 100%;
  @apply mx-auto;
  @apply p-6;

  @apply md:p-10;

  @apply lg:p-12;
  @apply lg:flex-row;
  @apply lg:items-center;

  @apply xl:p-16;
}

.CaseStudyCarousel-content {
  @apply flex;
  @apply flex-col;
  @apply items-start;

  @apply lg:order-1;
}

.CaseStudyCarousel-slide-logo {
  @apply mb-4;
  width: 80px;

  @screen md {
    width: 112px;
  }

  @apply lg:mb-6;
}

.CaseStudyCarousel-slide-img {
  width: 164px;
  @apply mb-6;

  @apply md:mb-8;
  @screen md {
    width: 296px;
  }

  @apply lg:order-2;
  @apply lg:flex-shrink-0;
  @apply lg:ml-10;
  @screen lg {
    width: 344px;
  }

  @screen xl {
    width: 398px;
  }
}

.CaseStudyCarousel-slide-title {
  @apply font-extrabold;
  @apply mb-2;

  @apply md:mb-4;
}

.CaseStudyCarousel-read-link {
  @apply inline-flex;
  @apply items-center;
  @apply text-electricViolet;
  @apply mt-6;

  @apply lg:mt-8;

  span {
    display: inline-block;
    width: 150px;
  }

  .arrow-icon {
    @apply ml-3;
  }
}

.CaseStudyCarousel-arrow {
  @apply absolute;
  @apply border-none;
  bottom: -20px;
  width: 32px;
  height: 32px;
  @apply z-20;

  @screen md {
    width: 36px;
    height: 36px;
    transform: translateY(-50%);
    top: 40%;
  }

  @screen lg {
    width: 48px;
    height: 48px;
  }
}

.CaseStudyCarousel-arrow-right {
  right: 40%;

  @screen md {
    right: -28px;
  }
}

.CaseStudyCarousel-arrow-left {
  left: 40%;

  @screen md {
    left: -28px;
  }
}
