@import 'tailwindcss/base';

@import 'tailwindcss/components';
@import './components/typography.css';

@import 'tailwindcss/utilities';

html {
  scroll-behavior: smooth;
  background-color: #fff;
}

/* body.transparent header.Nav {
  background: transparent;
  color: white;
} */
