.OtherServices {
  @apply pt-10;
  @apply pb-14;
  @apply text-center;
  /* @apply bg-gray-100; */

  @apply md:px-8;

  @apply lg:px-10;
  @apply lg:mt-20;

  @apply xl:px-0;
}

.OtherServices-inner {
  max-width: 984px;
  @apply mx-auto;
}

.OtherServices-header {
  @apply mb-8;

  @apply md:flex;
  @apply md:justify-between;
  @apply md:items-center;

  @apply lg:mb-11;
}

.OtherServices-button {
  @apply cursor-pointer;
  @apply uppercase;
  @apply font-bold;
  @apply py-3;
  @apply px-6;
}

.OtherServices-services {
  @apply grid;
  @apply grid-cols-6;
  @apply gap-y-8;
  @apply text-center;
  @apply mx-auto;
  width: 90%;
  max-width: 450px;

  .OtherServices-service {
    grid-column: span 2;
  }

  .OtherServices-service:first-child {
    grid-column: span 2;
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .OtherServices-service:nth-child(2) {
    grid-column: span 2;
    grid-column-start: 4;
    grid-column-end: 6;
  }

  @screen md {
    @apply flex;
    @apply items-start;
    @apply flex-wrap;
    @apply justify-between;
    @apply gap-y-8;
  }

  @screen md {
    max-width: 725px;
  }

  @screen lg {
    width: 744px;
  }
}

.OtherServices-service {
  @apply flex;
  @apply flex-col;
  @apply items-center;
  &:hover {
    @screen md {
      .OtherServices-service-animated-gif {
        @apply block;
      }

      .OtherServices-service-illustration {
        @apply hidden;
      }
    }
  }
}

.OtherServices-service-illustrations {
  @apply relative;
  @apply mb-4;
  width: 100px;
  height: 100px;

  img {
    @apply absolute;
    @apply z-10;
    @apply block;
    @apply w-full;
    top: 0;
    left: 0;
  }
  .OtherServices-service-illustration {
    @apply z-10;
  }

  .OtherServices-service-animated-gif {
    @apply hidden;
  }
}

.OtherServices-service-illustrations.product-design-illustrations {
  width: 125px;
  right: 10px;
}

.OtherServices-service-illustrations.brand-design-illustrations {
  width: 110px;
  left: 10px;
}
