.ServiceListing {
  @apply flex;
  @apply flex-col;
  @apply justify-center;
  @apply px-4;
  @apply pt-0;
  @apply pb-8;
  @apply mb-10;
  @apply text-center;
  @apply bg-foundation;
  @apply hover:bg-lavenderMist;

  @apply md:flex-row;
  @apply md:items-center;
  @apply md:text-left;
  @apply md:p-8;

  &:hover {
    .ServiceListing-learn-more {
      @apply font-bold;
    }

    @screen md {
      .ServiceListing-animated-gif {
        @apply block;
      }

      .ServiceListing-static-img {
        @apply hidden;
      }
    }
  }
}

.ServiceListing-img {
  @apply relative;
  @apply block;
  width: 180px;
  height: 180px;
  @apply self-center;

  @apply md:mr-12;
  @apply md:mb-0;
  @apply md:self-auto;

  img {
    @apply w-full;
  }

  .ServiceListing-animated-gif {
    @apply hidden;
  }

  @screen md {
    .ServiceListing-animated-gif {
      @apply absolute;
      @apply z-10;
      @apply hidden;
      top: 0;
      left: 0;
      @apply z-10;
      @apply w-full;
    }

    .ServiceListing-static-img {
      @apply absolute;
      @apply z-10;
      @apply block;
      top: 0;
      left: 0;
      @apply w-full;
    }
  }
}

.ServiceListing-learn-more {
  @apply inline-flex;
  @apply items-center;
  @apply text-electricViolet;

  .arrow-icon {
    @apply ml-3;
  }
}
