.BookACall {
  @apply bg-white;
  transition: background-color ease-in 250ms;
  @apply flex-shrink-0;
  @apply pt-6;
  @apply px-6;
  @apply pb-12;
  
  @apply md:shadow-lg;
  @apply md:px-10;
  @apply md:pt-8;
  @apply md:pb-14;
  
  @apply xl:px-10;
  @apply xl:pt-8;
  @apply xl:pb-14;
}

.BookACall.BookACall-success {
  min-height: 610px;
  @apply py-45;
  @apply bg-foundation;
  @apply text-center;
}

.BookACall-success-icon {
  width: 45px;
  @apply mb-12;
  @apply mx-auto;
}

.BookACall-success-button {
  @apply inline-block;
  @apply mt-10;
}

.BookACall-row {
  @apply flex;
  @apply items-center;
  @apply justify-between;
  @apply flex-nowrap;
}

.BookACall-fname, .BookACall-lname, .BookACall-country, .BookACall-phone {
  width: 50%;
  @apply flex-shrink-0;
}

.BookACall-fname, .BookACall-country {
  @apply pr-3;
}

.BookACall-lname, .BookACall-phone {
  @apply pl-3;
}