.OpportunityFormModal {
  @apply fixed;
  @apply z-60;
  @apply flex;
  @apply items-center;
  @apply justify-center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.OpportunityFormModal-form {
  @apply py-6;
  max-height: 100%;
  @apply overflow-y-scroll;
  max-width: 750px;
  @apply border;
  @apply border-blueRibbon border-solid;

  &::-webkit-scrollbar {
    display: none;
  }

  @screen md {
    border-radius: 50px;
    @apply px-6;
  }
  @screen lg {
    border-radius: 100px;
    @apply py-14 px-26;
    max-width: 784px;
  }
}

.OpportunityFormModal-close {
  @apply cursor-pointer;
  @apply ml-auto;
}
