.ListingInsightSkeleton {
  @apply block;
  max-width: 684px;
  @screen md {
    @apply grid;
    @apply grid-cols-2;
    @apply items-center;
  }
}

.ListingInsightSkeleton + .ListingInsightSkeleton {
  @apply mt-12;
}

.ListingInsightSkeleton-img {
  @apply bg-gray-200;
  height: 256px;
  width: 484px;
}

.ListingInsightSkeleton-content {
  @apply bg-white;
  @apply p-6;
  height: 224px;
}

.ListingInsightSkeleton-header {
  @apply flex;
  @apply items-center;
  @apply mb-8;
  @apply animate-pulse;

  div {
    height: 24px;
    width: 45%;
    @apply bg-gray-400;
    &.first {
      width: 25%;
      @apply mr-4;
    }
    &.third {
      width: 30%;
      @apply ml-4;
    }
  }
}

.ListingInsightSkeleton-copy {
  @apply animate-pulse;
  height: 32px;
  &.first {
    width: 90%;
  }
  &.third {
    width: 75%;
  }
  @apply bg-gray-400;
  @apply mb-3;
}
