.Button {
  @apply px-6;
  @apply pt-4;
  padding-bottom: 13px;

  transition: all 300ms ease-in-out;
}

.Button-solid {
  @apply bg-black;
  @apply text-white;
  @apply hover:bg-gray-800;
  @apply border-none;
  &:focus {
    @apply bg-transparent;
    @apply border-solid;
    @apply border-2;
    @apply text-black;
  }
  &:disabled {
    opacity: 0.3;
    @apply cursor-not-allowed;
    @apply border-none;
  }
}

.Button-solid-purple {
  @apply bg-deepViolet;
  @apply text-white;
  @apply hover:bg-electricViolet;
  @apply border-none;
  &:focus {
    @apply bg-electricViolet;
  }
  &:disabled {
    opacity: 0.3;
    @apply cursor-not-allowed;
    @apply border-none;
  }
}

.Button-solid-salmon {
  @apply bg-salmon;
  @apply text-white;
  @apply hover:bg-peachy;
  @apply border-none;
  &:focus {
    @apply bg-peachy;
  }
  &:disabled {
    opacity: 0.3;
    @apply cursor-not-allowed;
    @apply border-none;
  }
}

.Button-solid-blueRibbon {
  @apply bg-blueRibbon;
  @apply text-white;
  @apply border-none;
  &:hover {
    background-color: #4e72ff;
  }
  &:focus {
    background-color: #4e72ff;
  }
  &:disabled {
    opacity: 0.3;
    @apply cursor-not-allowed;
    @apply border-none;
  }
}

.Button-outline {
  @apply bg-transparent;
  @apply border-solid;
  @apply border;

  @apply hover:bg-black;
  @apply hover:text-white;

  &:focus {
    @apply bg-black;
    @apply border-solid;
    @apply border-2;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.Button-outline-purple {
  @apply bg-transparent;
  @apply border-solid;
  @apply border-deepViolet;
  @apply text-deepViolet;
  @apply border;

  @apply hover:bg-deepViolet;
  @apply hover:text-white;

  &:focus {
    @apply bg-deepViolet;
    @apply text-white;
    @apply border-solid;
    @apply border-2;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.Button-loading {
  @apply flex;
  @apply justify-center;
  min-width: 115px;
}
