.CaseStudy {
  @apply relative;
  @apply flex;
  @apply flex-wrap;
  @apply pb-1;

  @apply md:flex-nowrap;
  @apply md:items-center;
  @apply md:justify-between;
}

.CaseStudy-logo {
  @apply mb-6;
  max-width: 120px;
  @screen md {
    max-width: 140px;
  }
}

.CaseStudy-img {
  @apply block;
  @apply relative;
  @apply mb-6;
  @apply w-full;
  @apply mx-auto;
  transition: 300ms all ease-in;
  max-width: 500px;
  order: 1;

  &:hover {
    transition: 300ms all ease-in;
    transform: scale(1.025) translate(0, -2px);
  }

  @media (min-width: 700px) {
    max-width: 650px;
  }

  @screen md {
    max-width: 100%;
    @apply ml-0;
    @apply mr-0;
  }
}

.CaseStudy-img.mobileTextFirst {
  @apply mb-0;
  order: 2;
}

.CaseStudy-img.img-left {
  @screen md {
    left: -100px;
    order: 1;
  }
}

.CaseStudy-img.img-right {
  @screen md {
    right: -100px;
    order: 2;
  }
}

.CaseStudy-content {
  @apply mb-0;
  order: 2;

  @apply md:order-1;
  @apply md:flex-shrink-0;
  @screen md {
    width: 48%;
    max-width: 475px;
  }
}

.CaseStudy-content.mobileTextFirst {
  order: 1;
  @apply mb-6;
}

.CaseStudy-content.img-right {
  @screen md {
    order: 1;
  }
}

.CaseStudy-content.img-left {
  @screen md {
    order: 2;
  }
}
