.Footer {
  @apply bg-black;
  @apply pt-12;
  @apply pb-18;
  @apply px-6;

  @apply md:pt-24;
  @apply md:pb-12;
  @apply md:px-8;

  @apply lg:px-10;

  @apply xl:pt-30;
  @apply xl:pb-18;
  @apply xl:px-0;
}

.Footer-inner {
  max-width: 1184px;
  @apply ml-auto;
  @apply mr-auto;
}

.Footer-copy {
  @apply mb-26;

  @apply md:mb-28;

  @apply lg:mb-35;

  @apply xl:mb-30;
}

.Footer-cta-button {
  @apply bg-white;
  @apply px-6;
  @apply py-4;
  @apply inline-block;
  
  @apply hover:bg-transparent;
  @apply hover:text-white;
}

.Footer-follow {
  @apply grid;
  @apply grid-cols-1;

  @apply md:grid-cols-2;
}

.Footer-copyright-privacy {
  @apply flex;
  @apply items-center;
  @apply mb-8;
  @apply text-gray-500;

  @apply md:justify-self-start;
  @apply md:mb-0;
}

.Footer-copyright {
  @apply relative;
  top:2px;
  @apply inline-block;
  @apply font-extrabold;
  @apply ml-2;
}

.Footer-privacy {
  @apply inline-block;
  @apply relative;
  top:2px;
  @apply font-extrabold;
  @apply uppercase;
  @apply ml-6;
}

.Footer-logo {
  @apply inline-block;
  @apply text-white;
  @apply w-30;
}

.Footer-social {
  @apply grid;
  grid-template-columns: repeat(3, minmax(0, 24px));
  @apply gap-x-6;

  @apply md:justify-self-end;
}

.Footer-social-icon {
  @apply w-6;
  @apply text-gray-500;
}