.GoSiteSummary {
  @apply mt-14;

  @apply md:mt-20;

  @apply lg:mt-34;

  @apply xl:mt-40;
}

.GoSiteSummary-business-owner {
  @apply px-6;

  @apply md:px-8;

  @apply lg:px-10;
  @apply lg:flex;
  @apply lg:flex-row;
  @apply lg:flex-nowrap;
  @apply lg:items-center;
  @apply lg:gap-18;

  @apply xl:gap-28;
  @apply xl:mx-auto;
  @apply xl:px-0;
  @screen xl {
    width: 61%;
  }
}

.GoSiteSummary-content {
  @apply mx-auto;

  @screen md {
    width: 83%;
  }

  @apply xl:flex-shrink-0;
  @screen xl {
    width: 44%;
  }
}

.GoSiteSummary-metrics {
  @apply mt-8;

  @apply lg:mt-0;
}

.GoSiteSummary-metric {
  @apply flex;
  @apply p-4;
  @apply bg-foundation;
  @apply border-solid;
  @apply border-lilac;
  border-width: 1px;
  @apply rounded-4;
  @apply flex-row;
  @apply flex-nowrap;
  @apply justify-start;
  @apply items-center;

  @apply md:p-6;
  @apply md:flex-col;
  @apply md:flex-wrap;
  @apply md:items-start;

  @apply lg:flex-row;
  @apply lg:flex-nowrap;
  @apply lg:items-center;
  @apply lg:justify-start;
}

.GoSiteSummary-metric-content {
  @apply md:w-full;
  @apply md:text-center;

  @apply lg:text-left;
  @apply lg:w-auto;
}

.GoSiteSummary-metric-icon {
  width: 82px;
  height: 82px;
  @apply flex-shrink-0;

  @apply md:mx-auto;
  @apply md:mb-4;

  @apply lg:ml-0;
  @apply lg:mr-8;
  @apply lg:mb-0;
  @screen lg {
    width: 116px;
    height: 116px;
  }
}

.GoSiteSummary-product-img {
  @apply mt-16;

  @apply md:mt-20;

  @apply lg:mt-30;

  @apply 2xl:mt-48;
}

.GoSitesummary-summary-content {
  @apply mt-16;
  @apply px-6;

  @apply md:px-0;
  @apply md:mx-auto;
  @screen md {
    width: 76%;
  }

  @apply lg:mt-20;

  @apply xl:mt-12;
  @screen xl {
    width: 61%;
  }

  max-width: 1176px;
}

.GoSiteSummary-process-img {
  @apply mt-8;
  @apply mx-auto;
  max-width: 984px;

  @apply 2xl:mt-12;
  @screen xl {
    max-width: 1176px;
  }
}
