.GoSiteConclusion-list-container {
  @apply mx-auto;
  @apply mt-16;
  @apply mb-22;

  @apply md:mt-20;
  @apply md:mb-20;
  @screen md {
    width: 76%;
  }

  @apply lg:mb-30;
  @apply lg:mt-32;

  @apply xl:mb-20;
  @screen xl {
    width: 54%;
    max-width: 1176px;
    margin-top: 260px;
  }

  @apply 2xl:mt-36;
  @apply 2xl:mb-25;
}

.GoSiteConclusion-list {
  @apply list-disc;
  @apply ml-6;

  li {
    @apply mb-1;
  }
}

.GoSiteConclusion-outro {
  @apply mx-auto;
  @screen md {
    width: 76%;
  }

  @screen xl {
    max-width: 1176px;
    width: 54%;
  }
}

.GoSiteConclusion .ServiceTestimonial {
  @apply mt-20;

  @apply md:mt-16;

  @apply lg:mt-30;

  @apply xl:mt-28;

  @apply 2xl:mt-54;
  @screen 2xl {
    width: 1176px;
    max-width: 100%;
  }

  .ServiceTestimonial-quote {
    border-color: #0058ff;
  }

  .ServiceTestimonial-cite {
    background-color: rgba(0, 88, 255, 0.12);
    @apply md:bg-transparent;
  }
  .ServiceTestimonial-cite-image:after {
    background-color: rgba(0, 88, 255, 0.12);
  }
}

.GoSiteConclusion-video-container {
  @apply md:mx-auto;
  @apply mt-20;


  @apply md:mt-26;
  @screen md {
    width: 76%;
    max-width: 580px;
  }

  @apply lg:mt-32;

  @screen xl {
    margin-top: 264px;
  }

  @screen 2xl{
    margin-top: 216px;
    max-width: 778px;
  }

  .react-player__preview,
  iframe {
    border-radius: 8px;
  }
}

.GoSiteConclusion {
  .react-player__play-icon,
  .react-player__shadow {
    display: none !important;
  }
}

.GoSiteConclusion-video {
  @apply relative;
  padding-top: 100%;
}

.GoSiteConclusion-video-caption {
  @apply mt-8;

  @apply md:mx-auto;
  @screen md {
    width: 76%;
    max-width: 580px;
  }

  @screen 2xl {
    max-width: 778px;
  }
}

.GoSiteConclusion .react-player {
  @apply absolute;
  @apply top-0;
  @apply left-0;
  @apply z-0;
  filter: drop-shadow(0px 24px 38px rgba(0, 0, 0, 0.06))
    drop-shadow(0px 9px 46px rgba(0, 0, 0, 0.08))
    drop-shadow(0px 11px 15px rgba(0, 0, 0, 0.1));
}

.GoSiteConclusion-video-cover {
  position: absolute !important;
  @apply top-0;
  @apply left-0;
  @apply z-10;
  @apply w-full;
}