.case-study-intro__wrapper {
  @apply px-6;
  @apply mb-8;
  @apply mt-8;

  @apply md:mt-16;
  @apply md:mb-16;
  @apply md:mx-auto;
  @apply md:px-0;
  @screen md {
    width: 584px;
  }

  @apply lg:mt-20;
  @apply lg:mb-20;
  @screen lg {
    width: 700px;
  }

  @apply xl:mt-24;
  @apply xl:mb-24;

  @apply 2xl:mb-36;
  @screen min1900 {
    width: 1176px;
  }
}

.case-study-intro__logo {
  width: 104px;
  @apply mb-4;

  @apply md:mb-6;
  @screen md {
    width: 142px;
  }
}
