.ChallengeSolution-container {
  @apply lg:mt-32;
  @apply mx-auto;
  @screen lg {
    width: 76%;
  }

  @apply xl:mx-auto;
  @apply xl:mt-36;
  @screen xl {
    width: 54%;
    max-width: 1176px;
  }

  @apply 2xl:mt-48;
}

.ChallengeSolution-container-inner {
  @apply lg:mx-auto;
  @apply lg:flex;
  @apply lg:justify-between;
  @apply lg:items-start;

  @apply xl:ml-0;

  @apply 2xl:w-full;
}

.ChallengeSolution-challenge-icon {
  width: 64px;
  @apply mb-4;

  @apply lg:mb-6;
}

.ChallengeSolution-challenge {
  @apply mt-16;
  @apply mb-14;

  @apply md:mx-auto;
  @apply md:mt-20;
  @apply md:mb-16;
  @screen md {
    width: 76%;
  }

  @apply lg:my-0;
  @apply lg:mx-0;
  @screen lg {
    width: 45%;
  }

  @screen 2xl {
    width: 560px;
  }
}

.ChallengeSolution-solution-icon {
  width: 64px;
  @apply mb-4;

  @apply lg:mb-6;
}

.ChallengeSolution-solution {
  @apply md:mx-auto;
  @screen md {
    width: 76%;
  }

  @apply lg:mx-0;
  @screen lg {
    width: 45%;
  }

  @screen 2xl {
    width: 560px;
  }
}
