.case-studies-hero h1 span {
  @apply font-crimson lowercase font-extralight;
}

/* .CaseStudies {
  overflow-x: hidden;
}

.CaseStudies-title {
  @apply p-6;
  @apply mb-20;

  @apply md:px-8;
  @apply md:pt-16;
  @apply md:mb-28;

  @apply lg:px-10;
  @apply lg:mb-34;
  @screen lg {
    @apply mx-auto;
    max-width: 1184px;
    h1,
    h3 {
      max-width: 984px;
    }
  }

  @apply xl:pt-24;
  @apply xl:px-0;
  @apply xl:mb-36;
}

.CaseStudies-testimonials {
  @apply py-27;

  @apply md:py-34;

  @apply lg:py-36;

  @screen xl {
    padding-top: 252px;
    padding-bottom: 252px;
  }
}

.CaseStudies-testimonials-inner {
  @apply mx-auto;
  @apply px-6;

  @apply md:px-0;
  @screen md {
    width: 92%;
  }

  max-width: 984px;
}

.CaseStudy-item {
  @apply mb-24;

  @apply md:mb-36;

  @screen xl {
    margin-bottom: 256px;
  }
}

.CaseStudy-item:last-of-type {
  @apply mb-0;
}

.CaseStudy-item-2 {
  @apply mb-0;
}

.CaseStudies-process {
  @apply px-6;
  @apply mb-22;
  @apply mt-30;

  @apply md:mb-42;
  @apply md:mt-44;
  @apply md:px-0;
  @apply md:mx-auto;
  @screen md {
    width: 76%;
    max-width: 784px;
  }

  @apply lg:mb-26;

  @apply xl:mb-36;
  @apply xl:mt-48;
}

.CaseStudies-process .ProcessSteps {
  @apply grid-cols-1;
  @apply gap-12;

  .ProcessSteps-step {
    @apply md:flex;
  }

  .ProcessSteps-icon {
    @apply xl:mr-8;
    @apply xl:mb-0;
  }
}

.CaseStudies-process-button {
  @apply text-center;
  @apply mt-12;

  @apply md:text-left;

  @apply lg:mt-14;

  @apply xl:mt-16;
}

.CaseStudies-opportunity-form {
  @apply lg:mb-32;

  @apply xl:mb-40;

  .OpportunityForm-success {
    @apply px-6;

    @apply md:mx-auto;
    @apply md:px-0;
    @screen md {
      width: 76%;
      max-width: 784px;
    }
  }
} */
