/** Hero **/

.Fintech__hero {
  @apply relative;
  @apply overflow-y-hidden;
  @apply pt-10;

  @apply md:pt-8;

  @apply lg:pt-20;
  
  @apply 2xl:pt-40;
}

.Fintech__hero-illustration-container {
  width: 100%;
  height: 100%;
  @apply top-0;
  @apply left-0;
  @apply overflow-hidden;
  @apply absolute;
  @apply justify-end;
  @apply z-0;
  @screen md {
    max-height: 100%;
    height: 100%;
  }

  @media (min-width: 1440px) {
    left: 50%;
    transform: translateX(-50%);
    max-width: 1400px;
  }
}

.Fintech__hero-inner {
  @apply relative;
  @apply z-10;
  max-width: 1184px;

  @apply mx-6;
  @apply pb-12;

  @apply md:mx-8;
  @apply md:pb-20;
  
  
  @screen md {
    width: 80%;
  }

  @apply lg:ml-30;
  @apply lg:mr-0;
  @screen lg {
    width: 69%;
  }

  @apply xl:mx-auto;
  @apply xl:w-full;

  @screen 2xl {
    max-width: 2368px;
  }
}

.Fintech__hero-title-container {
  @apply xl:ml-25;
  @screen xl {
    max-width: 760px;
  }


  @screen 2xl {
    margin-left: 400px;
    max-width: 984px;
  }
}


.Fintech__hero-title {
  @apply xl:mt-6;
  @apply xl:mb-0;
}

.Fintech__hero-subtitle {
  @apply mt-6;

  @apply lg:pr-12;

  @apply xl:pr-16;
}

.Fintech__hero-button {
  @apply block;
  @apply mt-8;
  @apply px-15;

  @apply 2xl:mt-12;
}

.Fintech__hero-image {
  margin-top: -125px;

  @screen md {
    margin-top: -520px;
  }

  @screen lg {
    margin-top: -620px;
  }

  @screen xl {
    margin-top: -650px;
  }

  @screen 2xl {
    margin-top: -600px;
  }
}

/** Clients **/

.Fintech__clients {
  @apply bg-blueRibbon;
  @apply text-white;
  @apply text-center;

  @apply py-14;
  @apply px-6;

  @apply md:py-28;
  @apply md:px-8;

  @apply lg:px-0;

  @apply 2xl:py-50;
}

.Fintech__clients-items {
  @apply flex;
  @apply flex-col;
  @apply items-center;

  @apply md:flex-row;
  @apply md:items-start;
  @apply md:flex-nowrap;
  @apply md:justify-between;
  @apply md:mb-0;

  @apply lg:mx-auto;
  @apply lg:gap-x-0;
  @screen lg {
    width: 784px;
  }

  @screen xl {
    width: 1098px;
  }
}

.Fintech__clients-item {
  @apply mb-14;

  &:last-of-type {
    @apply mb-0;
  }

  @apply md:mb-0;
  @screen md {
    width: 188px;
  }

  @screen xl {
    width: 298px;
  }
}

.Fintech__clients-logo-container {
  @apply flex;
  @apply items-center;
  @apply mx-auto;
  @apply mb-6;
  width: 188px;
  height: 64px;
}

.Fintech__clients-logo {
  @apply block;
  @apply mx-auto;
  width: 128px;
}

.Fintech__clients-copy {
  @apply px-8;
  
  @apply md:px-0;
}

/** Testimonials **/
.Fintech__testimonials {
  @apply py-15;

  @apply md:py-16;

  @apply lg:py-25;

  @apply xl:py-31;
}

.Fintech__testimonials-inner {
  @apply mx-auto;
  @apply px-6;

  @apply md:px-0;
  @screen md {
    width: 92%;
  }
  
  max-width: 984px;
}


/** Webuild Works **/

.Fintech__works {
  @apply bg-foundation;
  @apply px-6;
  @apply py-20;

  @apply md:px-8;
  @apply md:py-26;

  @apply lg:px-10;
  @apply lg:pb-39;

  @apply 2xl:py-50;
}

.Fintech__works-title {
  @apply text-center;
  @apply font-extrabold;
  @apply mb-16;
  
  @apply md:text-left;
  @apply md:mb-18;
  
  @apply lg:mb-20;

  @apply 2xl:mb-28;
}

.Fintech__works-items {
  @apply flex;
  @apply flex-col;
  @apply gap-16;
}

.Fintech__works-item {
  
  @apply md:px-0;
  @apply items-start;
  @screen md {
    width: 82%;
  }
  
  @apply lg:flex-row;
  @apply lg:flex-nowrap;
  @apply lg:items-center;
  @screen lg {
    width: 100%;
    max-width: 864px;
  }

  @screen xl {
    max-width: 944px;
  }
}

.Fintech__works-item-content {
  @screen lg {
    max-width: 424px;
  }

  @screen xl {
    max-width: 484px;
  }
  
  h3 {
    @apply mb-3;
  }
  p {
    @apply mb-8;
  }
}

.Fintech__works-item-illustration {
  @apply mb-8;

  @apply md:mb-12;

  @apply lg:flex-shrink-0;
  @apply lg:mb-0;
}

.Fintech__works-item-illustration.resources {
  width: 223px;

  @screen lg {
    width: 285px;
  }
}

.Fintech__works-item-illustration.velocity {
  width: 234px;

  @screen lg {
    width: 298px;
  }
}

.Fintech__works-item-illustration.reliability {
  width: 236px;

  @screen lg {
    width: 302px;
  }
}

.Fintech__works-item-illustration.dream {
  width: 236px;

  @screen lg {
    width: 302px;
  }
}


/** Services **/
.Fintech-services {
  .OtherServices {
    @apply bg-champagnePink;
    @apply mt-0;
    @apply pt-10;
    @apply pb-14;

    @apply md:pt-12;
    @apply md:pb-16;
    
    @apply xl:pt-18;
    @apply xl:pb-24;
  }
  
  .OtherServices-header {
    @apply justify-center;
  }
}

/** Footer **/
.Fintech__footer {
  @apply text-white;
  @apply bg-black;
}

.Fintech__footer-content {
  @apply text-center;
  @apply py-20;
  @apply px-6;

  @apply md:py-30;
  @apply md:px-0;

  @apply lg:pb-35;

  @apply xl:pt-32;
  @apply xl:pb-39;
}

.Fintech__footer-title {
  @apply font-extrabold;
  @apply mb-8;
}

.Fintech__footer-contact {
  @apply relative;
  @apply mx-auto;
  @apply py-10;
  @apply flex;
  @apply flex-col;
  @apply items-center;

  @apply lg:flex-row;
  @apply lg:flex-nowrap;
  @apply lg:justify-between;
  @screen lg {
    width: 92%;
  }

  max-width: 1184px;
}

.Fintech__footer-logo {
  @apply my-6;
  @apply w-25;

  @apply md:my-8;
  
  @apply lg:my-0;
  @screen lg {
    @apply absolute;
    @apply z-10;
    left:50%;
    transform: translateX(-50%)
  }
}

.Fintech__footer-social {
  @apply flex;
  @apply flex-nowrap;
  @apply gap-6;
}

.Fintech__footer-social-icon {
  @apply w-6;
}