.Home .CaseStudy-container:not(:last-child) {
  @apply mb-40;
}

.Home-hero {
  @apply pt-10;
  @apply pb-14;
  @apply px-6;
  background-image: url("../../../static/images/home/homepage-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;

  @apply md:pt-26;
  @apply md:pb-26;
  @screen md {
    background-image: url("../../../static/images/home/homepage-hero-tablet.jpg");
  }

  @screen lg {
    background-image: url("../../../static/images/home/homepage-hero-large-tablet.jpg");
  }

  @apply xl:pt-36;
  @apply xl:pb-36;
  @screen xl {
    background-image: url("../../../static/images/home/homepage-hero-desktop.jpg");
  }

  @screen 2xl {
    background-image: url("../../../static/images/home/homepage-hero-large-device.jpg");
  }
}

.Home-hero-text {
  max-width: 1184px;
  @apply mx-auto;

  h1 {
    max-width: 984px;
    @apply mb-6;

    @apply md:mb-4;

    @apply lg:mb-6;
  }

  h2 {
    max-width: 860px;
    @apply mb-10;

    @apply md:mb-8;

    @apply lg:mb-10;
  }
}

.Home-learn-how {
  max-width: 1184px;
  @apply mx-auto;

  @apply xl:px-0;
}

.Home-testimonials {
  @apply mb-24;
  @apply mx-auto;
  max-width: 984px;

  @apply md:mb-32;

  @apply lg:mb-36;

  @screen xl {
    margin-bottom: 244px;
  }
}

.Home-work {
  @apply px-6;
  @apply py-16;
  @apply mx-auto;
  max-width: 584px;

  @apply md:px-0;
  @apply md:py-24;

  @apply lg:pt-30;
  @apply lg:pb-24;
  @screen lg {
    max-width: 784px;
  }

  @apply xl:pt-36;
  @apply xl:pb-36;
  @apply xl:flex;
  @apply xl:items-center;
  @apply xl:justify-between;
  @screen xl {
    max-width: 1184px;
  }
}

.Home-work-img {
  @apply mb-8;

  @apply md:mb-14;

  @apply xl:mb-0;
  @apply xl:flex-shrink-0;
  @apply xl:flex-1;
  @screen xl {
    max-width: 560px;
  }
}

.Home-work-content {
  @apply xl:flex-shrink-0;
  @apply xl:flex-1;
  @screen xl {
    max-width: 584px;
  }
}

.Home-work-title {
  @apply mb-4;
}

.Home-work-copy {
  @apply mb-6;
}

.Home-work-border {
  @apply block;
  @apply mx-auto;
  @apply my-6;
  @apply bg-gray-400;
  width: 215px;
  height: 2px;

  @apply my-8;
  @screen md {
    width: 584px;
  }

  @apply my-10;
  @screen lg {
    width: 784px;
  }

  @screen xl {
    width: 984px;
  }
}
