.quadpay {
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.quadpay-hero {
  @apply bg-gray-200;
  @apply px-6;
  @apply pt-22;

  @apply lg:pt-26;
}

.quadpay-challenge-solution {
  @apply mt-16;
  @apply px-6;

  @apply md:pr-8;

  @apply lg:mt-20;

  @apply xl:mt-24;

  @apply 2xl:mt-36;
}

.quadpay-challenge-solution-summary {
  @apply relative;

  @apply md:flex;
  @apply md:items-center;
  @apply md:ml-auto;
  @screen md {
    width: 644px;
  }

  @apply lg:mx-auto;
  @screen lg {
    width: 784px;
  }

  @screen xl {
    width: 884px;
  }

  @screen 2xl {
    width: 1176px;
  }
}

.quadpay-metrics-img-mobile {
  @apply mt-2;
  @apply ml-4;
  @apply float-right;
  width: 112px;

  @apply md:hidden;
}

.quadpay-metrics-img {
  @apply hidden;

  @apply md:block;
  @apply md:flex-shrink-0;
  @apply md:ml-17;
  @screen md {
    width: 172px;
  }

  @apply lg:ml-13;
  @screen lg {
    width: 188px;
  }

  @apply xl:ml-28;
}

.quadpay-challenge-solution-container {
  @apply lg:mt-32;

  @apply xl:mx-auto;
  @apply xl:mt-36;
  @screen xl {
    width: 884px;
  }

  @apply 2xl:mt-48;
  @screen 2xl {
    width: 1176px;
  }
}

.quadpay-challenge-solution-container-inner {
  @apply lg:mx-auto;
  @apply lg:flex;
  @apply lg:justify-between;
  @apply lg:items-start;
  @screen lg {
    width: 784px;
  }

  @apply xl:ml-0;

  @apply 2xl:w-full;
}

.quadpay-challenge-icon {
  width: 64px;
  @apply mb-4;

  @apply lg:mb-6;
}

.quadpay-challenge {
  @apply mt-16;
  @apply mb-14;

  @apply md:mx-auto;
  @apply md:mt-20;
  @apply md:mb-16;
  @screen md {
    width: 584px;
  }

  @apply lg:my-0;
  @apply lg:mx-0;
  @screen lg {
    width: 349px;
  }

  @screen 2xl {
    width: 560px;
  }
}

.quadpay-solution-icon {
  width: 64px;
  @apply mb-4;

  @apply lg:mb-6;
}

.quadpay-solution {
  @apply md:mx-auto;
  @screen md {
    width: 584px;
  }

  @apply lg:mx-0;
  @screen lg {
    width: 349px;
  }

  @screen 2xl {
    width: 560px;
  }
}

.quadpay-service-buttons {
  @screen xl {
    @apply absolute;
    @apply flex;
    @apply flex-col;
    width: 150px;
    left: -202px;
    @apply mr-13;
  }
}

.quadpay-service-button {
  @apply p-2;
  @apply inline-flex;
  @apply flex-row;
  @apply items-center;
  @apply bg-foundation;
  @apply border-lavender;
  @apply border-solid;
  border-width: 1px;
  border-radius: 4px;
  @apply mb-6;

  @apply md:mb-4;

  @apply lg:mb-6;

  @apply xl:w-full;

  .text-tag {
    @apply block;
  }

  .quadpay-service-icon {
    width: 22px;
    @apply mr-2;
  }
}

.quadpay-service-button + .quadpay-service-button {
  @apply ml-2;

  @apply xl:ml-0;
}
